{% extends 'site_base.html' %}
{% load static %}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/league.css' %}" />
{% endblock %}

{% block leftnav %}
  <div class="left-nav">
    <p><i class="fa fa-chevron-left"></i></p>
    <ul class="left-nav-links">
      <li class="left-nav-link"><a href="{% url 'league' league_data.id %}">League Home</a></li>
    	<li class="left-nav-link"><a href="javascript:;">My Team</a></li>
    	<li class="left-nav-link"><a href="javascript:;">Matchup</a></li>
    	<li class="left-nav-link"><a href="{% url 'free_agents' league_data.id %}">Add Player</a></li>

      <li class="left-nav-link"><a href="{% url 'draft_results' league_data.id %}">Draft</a></li>      
    	<li class="left-nav-link"><a href="javascript:;">Standings</a></li>
    	<li class="left-nav-link"><a href="javascript:;">Schedule</a></li>
    </ul>
  </div>
{% endblock %}

{% block block1 %}
	<div id="block-1" class="block">
		<h4>{{ league.name}}</h4>
    <div class="league-table">
      <strong>League Table</strong>
      <div class="rTable">
        <div class="rTableRow">
          <div class="rTableHead"><strong>Name</strong></div>
          <div class="rTableHead"><strong>Record</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Average</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>FG%</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>FT%</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Rebounds</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Assists</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Steals</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Blocks</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Threes</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>TOS</strong></div>
          <div class="rTableHead hide-on-mobile"><strong>Points</strong></div>
        </div>
        {% for team in league_data.teams %}
          <div class="rTableRow">
            <div class="rTableCell"><a href="{% url 'team' league_data.id team.id %}">{{ team.name }}</a></div>
            <div class="rTableCell">{{ team.record }}</div>
            <div class="rTableCell hide-on-mobile">{{ team.average_weekly_score }}</div>
            <div class="rTableCell hide-on-mobile">{{ game.ftm }}/{{ game.fta }}</div>
            <div class="rTableCell hide-on-mobile">{{ game.ftm }}/{{ game.fta }}</div>
            <div class="rTableCell">{{ game.threesm }}/{{ game.threesa }}</div>
            <div class="rTableCell">{{ game.rebs }}</div>
            <div class="rTableCell">{{ game.asts }}</div>
            <div class="rTableCell">{{ game.stls }}</div>
            <div class="rTableCell">{{ game.blks }}</div>
            <div class="rTableCell">{{ game.tos }}</div>
            <div class="rTableCell">{{ game.pts }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
   </div>
{% endblock %}

{% block block2 %}
	<div id="block-2" class="block">
	
	</div>
{% endblock %}