{% extends 'site_base.html' %}
{% load static %}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/league.css' %}" />
{% endblock %}

{% block left_nav_content %}
    <ul class="left-nav-links">
      <li class="left-nav-link"><a href="{% url 'league' league_data.id %}">League Home</a></li>
    	<li class="left-nav-link"><a href="javascript:;">My Team</a></li>
    	<li class="left-nav-link"><a href="javascript:;">Matchup</a></li>
    	<li class="left-nav-link"><a href="{% url 'free_agents' league_data.id %}">Add Player</a></li>

      <li class="left-nav-link"><a href="{% url 'draft_results' league_data.id %}">Draft</a></li>      
    	<li class="left-nav-link"><a href="javascript:;">Standings</a></li>
    	<li class="left-nav-link"><a href="javascript:;">Schedule</a></li>
    </ul>
{% endblock %}

{% block block1 %}
	<div id="block-1" class="block">
    <div class="league-table">
      <strong>{{ league_data.name}}</strong>
      <div class="rTable">
        <div class="rTableRow">
          <div class="rTableHead"><strong>Name</strong></div>
          <div class="rTableHead"><strong>Record</strong></div>
          <div class="rTableHead"><strong>Average</strong></div>
          <div class="rTableHead hide-mobile"><strong>FG%</strong></div>
          <div class="rTableHead hide-mobile"><strong>FT%</strong></div>
          <div class="rTableHead hide-mobile"><strong>Rebs</strong></div>
          <div class="rTableHead hide-mobile"><strong>Asts</strong></div>
          <div class="rTableHead hide-mobile"><strong>Stls</strong></div>
          <div class="rTableHead hide-mobile"><strong>Blks</strong></div>
          <div class="rTableHead hide-mobile"><strong>3ptm</strong></div>
          <div class="rTableHead hide-mobile"><strong>TOS</strong></div>
          <div class="rTableHead hide-mobile"><strong>Pts</strong></div>
        </div>
        {% for team in league_data.teams %}
          <div class="rTableRow">
            <div class="rTableCell"><a href="{% url 'team' league_data.id team.id %}">{{ team.name }}</a></div>
            <div class="rTableCell">{{ team.record }}</div>
            <div class="rTableCell">{{ team.average_weekly_score }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.fgpct }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.ftpct }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.rebs }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.asts }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.stls }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.blks }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.threesm }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.tos }}</div>
            <div class="rTableCell hide-mobile">{{ team.season_totals.pts }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
   </div>
{% endblock %}

{% block block2 %}
	<div id="block-2" class="block">
	
	</div>
{% endblock %}