<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    {% block title %}
      <title>Example</title>
    {% endblock %}

    {% block head_css %}
      <link rel="stylesheet" href="static/css/base.css" />
      <link rel="stylesheet" href="static/css/statlines.css" />
      <link rel="stylesheet" href="static/css/font-awesome.min.css" />
      <link rel="stylesheet" href="static/css/jquery.bxslider.css" />
    {% endblock %}

    {% block head_js %}
      <script src="{{ STATIC_URL }}static/js/jquery-1.11.2.min.js" type="application/javascript"></script>
    {% endblock %}
  </head>

  <body>
    {% block header %}
      <div id="header">
        <img class="header-image" src="http://i.imgur.com/uXeJAgC.png" />
        <ul class="header-links">
          <li class="header-link"><a href="javascript:;">My Team</a></li>
          <li class="header-link"><a href="javascript:;">Matchup</a></li>
          <li class="header-link"><a href="javascript:;">Free Agents</a></li>
          <li class="header-link"><a href="javascript:;">Standings</a></li>
          <li class="header-link"><a href="javascript:;">Schedule</a></li>
        </ul>

        <div class="manage-account">
          <strong><a href="javascript:;">Options</a></strong>
          <ul class="manage-account-links">
            <li class="manage-account-link">Header Link 1</li>
            <li class="manage-account-link">Link 2</li>
            <li class="manage-account-link"><a href="javascript:;">Sign out</a></li>
          </ul>
        </div>
      </div>
    {% endblock %}

    {% block content %}
      <div id="content">
        <h2><i>"Both teams played hard."</i></h2>
        <div class="left-nav">
          <p><i class="fa fa-chevron-left"></i>&nbsp;HIDE</p>
          <ul class="left-nav-links">
            <li class="left-nav-link"><a href="javascript:;">My Team</a></li>
            <li class="left-nav-link"><a href="javascript:;">Matchup</a></li>
            <li class="left-nav-link"><a href="javascript:;">Free Agents</a></li>
            <li class="left-nav-link"><a href="javascript:;">Standings</a></li>
            <li class="left-nav-link"><a href="javascript:;">Schedule</a></li>
            <li class="left-nav-link"><a href="javascript:;">Rosters</a></li>
          </ul>
        </div>

        <div id="block-1" class="block">

          <div class="top-performers">
            <h4>Top Performers from {{ yesterday }}</h4>
            <div id="prev-statlines-1" class="slider-control prev"></div>
            <div id="statline-row-1" class="widget-row">
              {% for statline in yesterdays_best %}
                {% include 'statline.html' %}
              {% endfor %}
            </div>
            <div id="next-statlines-1" class="slider-control next"></div>
          </div>
        </div>

        <div id="block-2" class="block">
          <div class="top-performers">
            <h4>Top Performers from {{ yesterday }}</h4>
            <div id="prev-statlines-2" class="slider-control prev"></div>
            <div id="statline-row-2" class="widget-row">
              {% for statline in season_best %}
                {% include 'statline.html' %}
              {% endfor %}
            </div>
            <div id="next-statlines-2" class="slider-control next"></div>
          </div>
        </div>

      </div>
    {% endblock %}

    {% block footer %}
      <div id="footer">
        <ul class="footer-links">
          <li class="footer-link">footer link 1</li>
          <li class="footer-link">link 2</li>
          <li class="footer-link">footer link 3</li>
          <li class="footer-link">link 4</li>
        </ul>
      </div>
    {% endblock %}

    {% block footer_js %}
      <script src="{{ STATIC_URL }}static/js/jquery.bxslider.js" type="application/javascript"></script>
    {% endblock %}
      <script>
        $(document).ready(function () {
            var widgetRow =  $("#statline-row-1");
            widgetRow.bxSlider({
                minSlides: 2,
                maxSlides: 4,
                slideWidth: 190,
                slideMargin: 0,
                adaptiveHeight: true,
                pager: false,
                nextSelector: "#next-statlines-1",
                prevSelector: "#prev-statlines-1",
                prevText: "<i class=\"slider-chevrons fa fa-chevron-left\"></i>",
                nextText: "<i class=\"slider-chevrons fa fa-chevron-right\"></i>",
                responsive: true
            });

            var seasonRow =  $("#statline-row-2");
            seasonRow.bxSlider({
                minSlides: 2,
                maxSlides: 4,
                slideWidth: 190,
                slideMargin: 0,
                adaptiveHeight: true,
                pager: false,
                nextSelector: "#next-statlines-2",
                prevSelector: "#prev-statlines-2",
                prevText: "<i class=\"slider-chevrons fa fa-chevron-left\"></i>",
                nextText: "<i class=\"slider-chevrons fa fa-chevron-right\"></i>",
                responsive: true
            });
        });
      </script>

      <script>
        $('.manage-account strong').click(function () {{
          if ($(".manage-account-links").is(":visible")) {{
              $(".manage-account-links").slideUp(200);
          }} else {{
              $(".manage-account-links").slideDown(200);
          }}
        }});    
        $(document).mouseup(function (e) {{
          var container = $(".manage-account-links");
          if (!container.is(e.target) // if the target of the click isn't the container...
              && container.has(e.target).length === 0) // ... nor a descendant of the container
          {{
              container.slideUp(200);
          }}
        }});
      </script>
      <script>
        $('.left-nav p').click(function () {{
            if ($('.left-nav p').html().substring(40) == 'HIDE') {
              $('.left-nav p').html('<i class=\"fa fa-chevron-right\"></i>');
            } else {
              $('.left-nav p').html('<i class=\"fa fa-chevron-left\"></i>&nbsp;HIDE');
            }
            $(".left-nav-links").animate({width: 'toggle'}, "fast");
        }});
      </script>
  </body>
</html>