{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    {% block title %}
      <title>Example</title>
    {% endblock %}

    {% block head_css %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
      <link rel="stylesheet" href="{% static 'css/statlines.css' %}" />
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
      <link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}" />
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    {% endblock %}

    {% block head_js %}
      <script src="{% static 'js/jquery-1.11.2.min.js' %}" type="application/javascript"></script>
    {% endblock %}
  </head>

  <body>
    {% block header %}
      <div id="header">
        <a href="{% url 'site_home' %}"><img class="header-image" src="http://i.imgur.com/uXeJAgC.png" /></a>
        <h2><i>"{{ quote.content }}"</i> -- {{ quote.person }}{% if quote.year %}, {{ quote.year }}{% endif %}</h2>
        <ul class="header-links">
          <li class="header-link"><a href="javascript:;">My Team</a></li>
          <li class="header-link"><a href="javascript:;">Matchup</a></li>
          <li class="header-link"><a href="javascript:;">Free Agents</a></li>
          <li class="header-link"><a href="javascript:;">Standings</a></li>
          <li class="header-link"><a href="javascript:;">Schedule</a></li>
        </ul>

        <ul id="mobile-nav-icons">
          <li id="mobile-nav-search" class="mobile-nav-icon"><a href="javascript:;"><i class="fa fa-search"></i></a></li>  
          <li id="mobile-nav-menu" class="mobile-nav-icon"><a href="javascript:;"><i class="fa fa-bars"></i></a></li>
        </ul>

        <div class="manage-account">
          <strong><a href="javascript:;">Options</a></strong>
          <ul class="manage-account-links">
            <li class="manage-account-link">Header Link 1</li>
            <li class="manage-account-link">Link 2</li>
            <li class="manage-account-link"><a href="javascript:;">Sign out</a></li>
          </ul>
        </div>
      </div>
    {% endblock %}

    {% block content %}
      <div id="content">

        {% block leftnav %}
          <div class="left-nav">
            <p><i class="fa fa-chevron-left"></i>&nbsp;HIDE</p>
            <ul class="left-nav-links">
              <li class="left-nav-link"><a href="javascript:;">My Team</a></li>
              <li class="left-nav-link"><a href="javascript:;">Matchup</a></li>
              <li class="left-nav-link"><a href="javascript:;">Free Agents</a></li>
              <li class="left-nav-link"><a href="javascript:;">Standings</a></li>
              <li class="left-nav-link"><a href="javascript:;">Schedule</a></li>
              <li class="left-nav-link"><a href="javascript:;">Rosters</a></li>
            </ul>
          </div>
        {% endblock %}

        {% block block1 %}
          <div id="block-1" class="block">
            <div class="carousel">
              <h4>Top Performers from {{ yesterday }}</h4>
              <div id="prev-statlines-1" class="slider-control prev"></div>
              <div id="statline-row-1" class="widget-row">
                {% for statline in yesterdays_best %}
                  {% include 'statline.html' %}
                {% endfor %}
              </div>
              <div id="next-statlines-1" class="slider-control next"></div>
            </div>
          </div>
        {% endblock %}

        {% block block2 %}
          <div id="block-2" class="block">
            <div class="carousel">
              <h4>Season's Best</h4>
              <div id="prev-statlines-2" class="slider-control prev"></div>
              <div id="statline-row-2" class="widget-row">
                {% for statline in season_best %}
                  {% include 'statline.html' %}
                {% endfor %}
              </div>
              <div id="next-statlines-2" class="slider-control next"></div>
            </div>
          </div>
        {% endblock %}

      </div>
    {% endblock %}

    {% block footer %}
      <div id="footer">
        <a href="https://github.com/zachcalvert/fantasy_bball">View on Github</a>
      </div>
    {% endblock %}

    {% block footer_js %}
      <script src="{% static 'js/jquery.bxslider.js' %}" type="application/javascript"></script>

      <script>
        $(document).ready(function () {
            var widgetRow =  $("#statline-row-1");
            widgetRow.bxSlider({
                minSlides: 2,
                maxSlides: 3,
                slideWidth: 190,
                slideMargin: 0,
                adaptiveHeight: true,
                pager: false,
                nextSelector: "#next-statlines-1",
                prevSelector: "#prev-statlines-1",
                prevText: "<i class=\"slider-chevrons fa fa-chevron-left\"></i>",
                nextText: "<i class=\"slider-chevrons fa fa-chevron-right\"></i>"
            });

            var seasonRow =  $("#statline-row-2");
            seasonRow.bxSlider({
                minSlides: 2,
                maxSlides: 3,
                slideWidth: 190,
                slideMargin: 0,
                adaptiveHeight: true,
                pager: false,
                nextSelector: "#next-statlines-2",
                prevSelector: "#prev-statlines-2",
                prevText: "<i class=\"slider-chevrons fa fa-chevron-left\"></i>",
                nextText: "<i class=\"slider-chevrons fa fa-chevron-right\"></i>"
            });
        });
      </script>

      <script>
        $('.manage-account strong').click(function () {
          if ($(".manage-account-links").is(":visible")) {{
              $(".manage-account-links").slideUp(200);
          }} else {{
              $(".manage-account-links").slideDown(200);
          }}
        });    
        $(document).mouseup(function (e) {{
          var container = $(".manage-account-links");
          if (!container.is(e.target) // if the target of the click isn't the container...
              && container.has(e.target).length === 0) // ... nor a descendant of the container
          {{
              container.slideUp(200);
          }}
        }});
      </script>

      <script>
        $('.left-nav p').click(function () {{
            if ($('.left-nav p').html().substring(40) == 'HIDE') {
              $('.left-nav p').html('<i class=\"fa fa-chevron-right\"></i>');
              $('.left-nav-links').hide();
              $('.left-nav').css("width","20px");
            } else {
              $('.left-nav p').html('<i class=\"fa fa-chevron-left\"></i>&nbsp;HIDE');
              $('.left-nav-links').show();
              $('.left-nav').css("width","140px");
            }
        }});
      </script>    
    {% endblock %}
  </body>
</html>