body {
  background-color: #383838;
  padding: 0px 20px;
  margin: 0;
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}
h1, h2, p, ul, li, a {
  font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}

ul {
	list-style: None;
}

#container {
  background-color: #F7F7F7;
  height: 100%;
  overflow: hidden; 
}

.primary-header ul {
	background-color: #111;
	padding: 0;
  margin: 0;
}
.primary-header li {
  display: inline;
  margin: 0;
}

.primary-header li a {
  color: #FFF;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.main {
  padding: 10px 10px 10px 10px;
}


.data-list-item {
  padding: 5px 0;
}

.data-list-item a {
  color: #000;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
	background-color: #A9A9A9;
  color: #000!important;
}

.rTable {
    display: table;
    width: 100%;
    font-size: 10px;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}
