body {
  background-color: #A9A9A9;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style: None;
}

.primary-header ul {
	background-color: #111;
	padding: 0;
}
.primary-header li {
  display: inline;
  margin: 0;
}

.primary-header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.league-header ul {
  background-color: #111;
  padding: 0;
}
.league-header li {
  display: inline;
  margin: 0;
}

.league-header li a {
  color: #FFF;
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

ul.league-list li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
	background-color: #0099FF;
}