.league-layout {
  border: 1px solid black;
  background: #FFF;
}

.league-header {
  border-bottom: 1px solid black;
}
.league-header ul {
  background-color: #111;
  padding: 0;
  margin: 0;
}
.league-header li {
  display: inline;
  margin: 0;
}

.league-header li a {
  color: #FFF;
  font-size: 10px;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.league-layout .main {
  padding: 0 10px;
}

ul.league-list li a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}