.player-profile {
	overflow: hidden;
	padding: 10px;
}

.player-info {
	float: left;
	width: 100px;
	text-align: center;
	padding-right, padding-bottom: 20px;
	padding: 0 20px 20px 0;
	height: 195px;
}

.player-info h4 {
	margin-bottom: 0px;
	margin-top: 5px;
}

.player-info p {
	margin-top: 0px;
	font-size: 11px;
}

.player-details {
    float: left;
    max-width: 350px;
    height: 195px;
    font-size: 11px;
    text-align: justify;
    padding-bottom: 20px;
}

.player-details p {
	margin: 5px;
}

.player-game-chart {
    float: left;
    width: 450px;
    padding: 0 10px 10px;
}

.player-game-chart canvas {
    display: block;
    width: 100%;
    height: auto;
}

.player-quick-stats {
	max-width: 250px;
	padding-bottom: 5px;
}

.player-notes {
	background-color: #FFFFFF;
	overflow: scroll;
	height: 120px;
}


.player-stats {
	float: left;
	font-size: 10;
	padding-left: 10px;
	padding-bottom: 10px;
}

.player-stats ul {
	list-style: none;
}

.player-stats li {
	display: inline;
}

/* player list table */
.reactable-data td {
    min-width: 25px;
    font-size: 12px;
    padding: 3px 10px;
}

.reactable-data li {
	list-style: none;
}

.reactable-pagination {
	padding: 10px;
}

.reactable-pagination a {
	padding: 0 8px;
	color: #000;
}

label[for=name] {
	width: 190px;
}
