body {
    margin: 0;
    padding: 0;
    font-family: "Neue Helvetica W01", Helvetica, Arial, sans-serif;
    color: #096881 ;
}

ul {
	list-style: none;
}

a {
	color: #096881;;
}

a:hover {
	color: #00323A;
}

#header {
	height: 90px;
	width: 100%;
	display: inline-block;
	background: #FFF;
	border-bottom: 1px solid black;
}

#header h2 {
	padding: 10px;
	color: grey;
	font-size: 14px;
	text-align: center;
}

#header a {
	height: inherit;
}

.header-image {
    height: inherit;
    float: left;
    border-right: 1px solid black;
}

.header-links {
    margin: 0;
    float: left;
    padding: 8px 0 0 10px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;
}

.header-link {
    float: left;
    padding: 0 15px;
}

.manage-account {
	float: right;
    padding: 8px 0 0 0;
    text-align: right;
}

.manage-account strong {
	color: #ffc966;
	padding: 0 10px 0 0;
}

.manage-account i {
	padding: 0 5px;
}

.manage-account-links {
	display: none;
	margin-top: 6px;
	padding: 5px;
    background: #096881;
    color: #fff;
}

.manage-account-link {
	padding: 10px;
}

.manage-account-link a {
	color: #fff;
}

#mobile-nav-icons {
    display: none;
    font-size: 28px;
    margin:0;
}

#mobile-nav-search {
    position: absolute;
    color: black;
    top: 55px;
    right: 50px;
}

#mobile-nav-menu {
    position: absolute;
    color: black;
    top: 56px;
    right: 10px;
}

#content {
	display: block;
	padding: 0px;
	min-height: 600px;
}

.left-nav {
	float: left;
	height: 600px;
	width: 140px;
	background: #096881;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.left-nav i {
    font-size: 20px;
}

.left-nav p {
	float: right;
	padding: 10px;
    color: #ffc966;
	margin: 0;
	padding: 7px 7px 0 7px;
	font-size: 12px;
	cursor: pointer;
}

.left-nav-links {
	left: 0;
	top: 120px;
	padding: 5px 15px;
}

.left-nav-link {
    padding: 5px 10px 5px 0;
    font-size: 12px;
}

.left-nav-link:hover {
	text-decoration: underline;
}

.left-nav-link a {
	color: #fff6e5;
    text-decoration: none;
}

#main-content {
	display: table;
	padding: 0 10px;
	height: 500px;
}

.block {
	height: auto;
	display: table;
	padding: 18px 15px 0 18px;
}

#footer {
	display: inline-block;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.footer-links {
    margin: 0;
    float: left;
}

.footer-link {
    float: left;
    padding: 0 10px;
}

/* table via divs */
.rTable {
    display: table;
    width: auto;
    font-size: 10px;
    background: #fff6e5;
    border-right: 1px solid black;
    margin-top: 10px;
}

.rTableRow {
    display: table-row;
    line-height: 20px;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    min-width: 25px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}

div.rTable > div:nth-of-type(odd) {
    background: #fff;
}

.statline-slider {
    padding: 0 10px;
}

#go-left {
    position: relative;
    top: 115px;
    right: 360px;
}

#go-right {
    position: relative;
    top: 115px;
    left: 256px;
}

#go-left-2 {
    position: relative;
    top: 115px;
    right: 122px;
}

#go-right-2 {
    position: relative;
    top: 115px;
    left: 494px;
}
