/* player block 1 */

.player-profile-name {
	margin: 0;
	float: left;
}
.player-profile-subname {
	font-size: 9px;
}

.player-image {
	float: left;
}
.player-details {
	float: left;
	padding: 0 18px;
    text-align: center;
}

.player-notes {
    font-size: 12px;
    width: 400px;
    height: 130px;
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    overflow: scroll;
}

.note-dates {
	float: left;
	width: 100px;
}

.note-details {
	float: left;
	width: 295px;
	padding-left: 5px;
}

.player-season-form {
	text-align: center;
}
.player-season-form strong {
	font-size: 12px;
}

.note-detail {
	display: none;
}


/* player block 2 */
.player-recent-games {
	padding: 5px 0;
}

.player-stats {
	padding: 5px 0;
}