@media screen
    and (max-width: 910px)  {
        .hide-on-mobile {
            display: none;
        }
    }

@media screen
    and (max-width: 700px)  {
        #header h2 {
            padding: 2px;
        }

        #mobile-nav-icons {
            display: flex;
        }

        .manage-account, .header-links {
            display: none;
        }
    }