{% extends 'site_base.html' %}
{% load static %}

{% block head_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/players.css' %}" />
{% endblock %}


{% block block1 %}
	<div id="block-1" class="block">
		<div class="player-image">
			<img src="{{ player_data.image_url }}" />
		</div>
		<div class="player-details">
			<h4 class="player-profile-name">{{ player_data.name }}</h4><br />
			<strong class="player-profile-subname">{{ player_data.nba_team }} &#8226; {{ player_data.position }}</strong>
	        <div class="player-season-form">
	          <strong>Season Form</strong>
	          <p>{{ player_data.season_form }}</p>
	        </div>
		</div>

		<div class="player-notes">
			<div class="note-dates">
				{% for note in player_data.notes %}
					<div class="player-note" id="note-key-{{ note.id }}">
					  <p>{{ note.date }}</p>
					</div>
				{% endfor %}
			</div>

			<div class="note-details">
				{% for note in player_data.notes %}
					<div class="note-detail" id="note-detail-{{ note.id }}">
	 				  <p>{{ note.report }}</p>
					  <p>{{ note.impact }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
   </div>
{% endblock %}

{% block block2 %}
	<div id="block-1" class="block">
	<div class="player-recent-games">
          <strong>Last 5 games</strong>
          <div class="rTable">
            <div class="rTableRow">
              <div class="rTableHead"><strong>Game</strong></div>
              <div class="rTableHead"><strong>MP</strong></div>
              <div class="rTableHead"><strong>FG</strong></div>
              <div class="rTableHead"><strong>FT</strong></div>
              <div class="rTableHead"><strong>3PT</strong></div>
              <div class="rTableHead"><strong>REBS</strong></div>
              <div class="rTableHead"><strong>ASTS</strong></div>
              <div class="rTableHead"><strong>STLS</strong></div>
              <div class="rTableHead"><strong>BLKS</strong></div>
              <div class="rTableHead"><strong>TOS</strong></div>
              <div class="rTableHead"><strong>PTS</strong></div>
            </div>
            {% for game in player_data.recent_games %}
	            <div class="rTableRow">
	              <div class="rTableCell">{{ game.game }}</div>
	              <div class="rTableCell">{{ game.mp }}</div>
	              <div class="rTableCell">{{ game.fgm }}/{{ game.fga }}</div>
	              <div class="rTableCell">{{ game.ftm }}/{{ game.fta }}</div>
	              <div class="rTableCell">{{ game.threesm }}/{{ game.threesa }}</div>
	              <div class="rTableCell">{{ game.rebs }}</div>
	              <div class="rTableCell">{{ game.asts }}</div>
	              <div class="rTableCell">{{ game.stls }}</div>
	              <div class="rTableCell">{{ game.blks }}</div>
	              <div class="rTableCell">{{ game.tos }}</div>
	              <div class="rTableCell">{{ game.pts }}</div>
	            </div>
			{% endfor %}
          </div>
        </div>

		<div class="player-stats" id="player-average-stats">
			<strong>Season Averages</strong>
	        <div class="rTable">
	          <div class="rTableRow">
	            <div class="rTableHead"><strong>PPG</strong></div>
	            <div class="rTableHead"><strong>RPG</strong></div>
	            <div class="rTableHead"><strong>APG</strong></div>
	            <div class="rTableHead"><strong>SPG</strong></div>
	            <div class="rTableHead"><strong>BPG</strong></div>
	            <div class="rTableHead"><strong>FG</strong></div>
	            <div class="rTableHead"><strong>FGA</strong></div>
	            <div class="rTableHead"><strong>FGPCT</strong></div>  
	            <div class="rTableHead"><strong>FT</strong></div>
	            <div class="rTableHead"><strong>FTA</strong></div>
	            <div class="rTableHead"><strong>FTPCT</strong></div>
	            <div class="rTableHead"><strong>3PT</strong></div>
	            <div class="rTableHead"><strong>3PTA</strong></div>
	            <div class="rTableHead"><strong>3PCT</strong></div>
	          </div>

	          <div class="rTableRow">
	            <div class="rTableCell">{{ player_data.stats.averages.pts }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.rebs }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.asts }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.stls }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.blks }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.fgm }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.fga }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.fgpct }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.ftm }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.fta }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.ftpct }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.threesm }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.threesa }}</div>
	            <div class="rTableCell">{{ player_data.stats.averages.threespct }}</div>
	          </div>
	        </div>
		</div>
	</div>
{% endblock %}

{% block footer_js %}
	{{ block.super }}
	<script>
    	$(document).ready(function () {
			$('#note-detail-1').show();
		});
		$('.player-note').click(function () {
			$('.note-detail').hide();
			var note_number = $(this).attr('id').slice(-1);
			console.log(note_number);
			$('#note-detail-' + note_number).css("display","block");
		});
	</script>
{% endblock %}